@{
    ViewBag.Title = "Reload";
}
<h1 class="display-4">Reload</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-3">
            <a asp-controller="Home" asp-action="ReloadBullet" asp-route-bulletCount="2" class="btn btn-secondary btn-block">Buy 2 bullets for €1</a>
        </div>
        <div class="col-lg-4 col-md-12 mb-3">
            <a asp-controller="Home" asp-action="ReloadBullet" asp-route-bulletCount="7" class="btn btn-secondary btn-block">Buy 7 bullets for €4</a>
        </div>
        <div class="col-lg-4 col-md-12 mb-3">
            <a asp-controller="Home" asp-action="ReloadBullet" asp-route-bulletCount="12" class="btn btn-secondary btn-block">Buy 12 bullets for €7</a>
        </div>
    </div>
</div>
